@font-face {
  src: url("../fonts/assassin.woff2");
  font-family: "assassin-st";
  font-weight: 700;
  font-style: italic;
}

@font-face {
  src: url("../fonts/NotoSerif-Regular.ttf");
  font-family: "noto-st";
  font-weight: 400;
  font-style: italic;
}

#form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.new_todo {
  margin-left: 0.6rem;
  width: 250px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid silver;
}

.new_todo:hover {
  border: 1px solid black;
  box-shadow: 1px 1px 2px 2px silver;
}

.add_todo {
  margin-top: 0.5rem;
  margin-left: 0.6rem;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  border: none;
  font-size: 0.85rem;
  font-family: "Noto Serif", serif;
}

.add_todo:hover {
  border: 1px solid silver;
  box-shadow: 1px 1px 2px 2px silver;
}

ul {
  padding-inline-start: 0px;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid silver;
  border-radius: 5px;
  margin: 0.7rem 0.6rem;

  input {
    margin-right: 1rem;
    cursor: pointer;
  }

  .delete {
    background-color: red;
    border-radius: 50%;
    color: white;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-left: auto;
    font-size: 0.8em;
    line-height: 20px;
    flex-shrink: 0;
    align-self: center;
  }

  .delete:hover {
    box-shadow: 0px 0px 2px 2px silver;
  }

  input:checked + b {
    text-decoration: line-through;
    text-decoration-color: red;
  }

  input:checked + b + span {
    text-decoration: line-through;
    text-decoration-color: red;
  }
}

li:hover {
  border: 1px solid silver;
  box-shadow: 1px 1px 2px 2px silver;
}

h1 {
  font-size: 3rem;
  text-align: center;
  font-family: assassin-st, sans-serif;
}

b {
  font-size: 1.2rem;
}

.text {
  margin-left: 10px;
  font-family: sans-serif;
}

h3 {
  font-size: 2rem;
  text-align: center;
  font-family: assassin-st, sans-serif;
}

.title {
  color: rgb(107, 106, 106);
}
